{% extends 'management/base.html' %}

{% block content %}

<div class="main-content">

  <div class="page-content">
      <div class="container-fluid">

          <!-- start page title -->
          <div class="row">
              <div class="col-sm-6">
                  <div class="page-title-box">
                      <h4>New Depertment </h4>
                          <ol class="breadcrumb m-0">
                              <li class="breadcrumb-item"><a href="javascript: void(0);">Admin Panel</a></li>
                              <li class="breadcrumb-item"><a href="{% url 'manage_doctor' %}">management</a></li>
                              <li class="breadcrumb-item active">New Depertment</li>
                          </ol>
                  </div>
              </div>
              <div class="col-sm-6">
                  <div class="state-information d-none d-sm-block">
                      <div class="state-graph">
                          <div id="header-chart-1" data-colors='["--bs-primary"]'></div>
                          <div class="info">Balance $ 2,317</div>
                      </div>
                      <div class="state-graph">
                          <div id="header-chart-2" data-colors='["--bs-info"]'></div>
                          <div class="info">Item Sold 1230</div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- end page title -->
<div >



  {% comment %} <div style="display: flex; align-items: center; height: 100vh;"> {% endcomment %}

    <form class="col-6 mx-auto card p-3 m-5 shadow-lg" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h2>New Depertment</h2>
      <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Depertment Name</label>
        <input type="text" name="dpt_name" required class="form-control" id="dpt_name" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">New Depertment</button>
    </form>
  </div>

{% endblock %}
    